extends layout

block header
  link(rel='stylesheet', href='/css/index.css')

block content
  .container-narrow
    .masthead
      ul.nav.nav-pills.pull-right
        li.active
          a(href='#') Inicio
        li
          a(href='#') About
        li
          a(href='#') Contacto
      h3.muted APICABA
    hr
    .jumbotron
      .splash
        .object.cloudBA
        canvas#sucker(width='170px', height='270px')
        .object.machine
        canvas#door(width='160px', height='120px')
        a.object.machine-cover(border='0', title='Código Fuente', target='_blank', href='https://github.com/pjnovas/apicaba')
        canvas#bazooka(width='170px', height='240px')
        .object.cloudAPI
    hr
    .row-fluid.marketing
      .span6
        h4 Subheading
        p
          | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
        h4 Subheading
        p
          | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
        h4 Subheading
        p Maecenas sed diam eget risus varius blandit sit amet non magna.
      .span6
        h4 Subheading
        p
          | Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
        h4 Subheading
        p
          | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
        h4 Subheading
        p Maecenas sed diam eget risus varius blandit sit amet non magna.
    hr
    .footer
      p © Company 2012

block scripts
  script(src='/scripts/vendor.js')
  script(src='/scripts/apicaba-0.0.1.js')
  script(src='/scripts/index.js')