extends layout

block header
  link(rel='stylesheet', href='/css/index.css')

block content
  .container-narrow
    .masthead
      ul.nav.nav-pills.pull-right
        li.active
          a(href='#') Inicio
        li
          a(href='/docs') Docs
        li
          a(href='#') About
        li
          a(href='#') Contacto
      h3.muted APICABA
    hr
    .jumbotron
      .splash
        .object.cloudBA
        canvas#sucker(width='170px', height='270px')
        .object.machine
        canvas#door(width='160px', height='120px')
        a.object.machine-cover(border='0', title='Código Fuente', target='_blank', href='https://github.com/pjnovas/apicaba')
        canvas#bazooka(width='170px', height='240px')
        .object.cloudAPI
    hr
    .row-fluid.marketing
      .span12
        div.api-tree-holder
          div.col.categories
            h3 Categor&iacute;as
          div.col.groups
            h3 Grupos
          div.col.resources
            h3 Recursos
          div#api-tree
    hr
    .footer
      p © Pablo Novas 2013

block scripts
  script(src='/scripts/vendor.js')
  script(src='/scripts/apicaba-0.1.0-brand.js')
