extends layout

block header
  link(rel='stylesheet', href='/css/index.css')

block content
  .container-narrow
    .masthead
      div.logo
      p.intro La informaci&oacute;n de  
        a(border='0', target='_blank', href='http://data.buenosaires.gob.ar') Buenos Aires Data 
        | transformada en 
        b Web API 
    hr.no-topmargin
    .jumbotron
      .splash
        a.object.cloudBA(border='0', title="Buenos Aires Data", target='_blank', href='http://data.buenosaires.gob.ar')
        canvas#sucker(width='170px', height='270px')
        .object.machine
        canvas#door(width='160px', height='120px')
        a.object.machine-cover(border='0', title='Código Fuente', target='_blank', href='https://github.com/pjnovas/apicaba')
        canvas#bazooka(width='170px', height='240px')
        a.object.cloudAPI(border='0', title="Documentación", target='_blank', href='/docs')
    hr
    .row-fluid
      .span12
        h3.surf Contenido actual de la Web API
        p.moreinfo
          a(border='0', target='_blank', href='/docs') Documentación
          |  | 
          a(border='0', target='_blank', href='https://github.com/pjnovas/apicaba') C&oacute;digo fuente
    .row-fluid
      .span12
        div.api-tree-holder
          div.col.categories
            h3 Categor&iacute;as
          div.col.groups
            h3 Grupos
          div.col.resources
            h3 Recursos
          div#resource-info(style="display: none;")
          div#api-tree
    hr
    .footer
      a.nolaborables(border='0', title="API de Feriados", target='_blank', href='http://nolaborables.info/')
      p.copyright 
        span.copy copyright © 2013 Pablo Novas -&nbsp;
        span.contactme
          span pjnovas
          span @
          span gmail.com

block scripts
  script(src='/scripts/vendor.js')
  script(src='/scripts/apicaba-0.1.0-brand.js')
