extends layout

block header
  link(rel='stylesheet', href='/css/login.css')

block content
  .container
    form.form-signin(action="/login", method="post")
      input.input-block-level(type='text', name="username", placeholder='Username')
      input.input-block-level(type='password', name="password", placeholder='Password')
      button.btn.btn-large.btn-primary(type='submit') Sign in
