body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url('/images/white_texture.png');
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*
 * SPLASH
 */

.splash {
  width: 900px;
  height: 500px;
  margin: 50px auto;
  position: relative; 

  .object {
    position: absolute;
    width: 340px;
    height: 250px;
  }

  .object.ready {
    background: url('/images/objects.png') no-repeat;
  }

  .object.cloudBA {
    top: -30px;
    left: -30px;
    background-position: -340px 0;
    z-index: 2;
  }

  .object.machine,
  .object.machine-cover {
    bottom: 30px;
    left: 300px;
    background-position: 0 0;
    z-index: 3;
  }

  .object.machine-cover {
    z-index: 10;
    background: none;
    border: none;
  }

  .object.cloudAPI {
    top: -30px;
    right: -30px;
    background-position: -680px 0;
    z-index: 5;
  }

  #door,
  #sucker,
  #bazooka {
    position: absolute;
  }

  #door {
    bottom: 69px;
    left: 346px;
    z-index: 5;
  }

  #sucker {
    bottom: 70px;
    left: 180px;
    z-index: 1;
  }

  #bazooka {
    bottom: 142px;
    left: 560px;
    z-index: 4;
  }
}

.splash.ready {
  background: url('/images/bg.png') no-repeat;
  background-position: 0 30px;
}

.api-tree-holder {
  position: relative;
  overflow: hidden;
  height: 1250px;
  width: 100%;

  .col {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 1250px;

    h3 {
      font-size: 16px;
      width: 100%;
      text-align: center;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.categories {
      left: 140px;
      width: 260px;

      h3 {
        border-radius: 10px 0 0 10px;
      }
    }
    &.groups {
      left: 400px;
      width: 238px;
      border-left: dashed 1px rgb(213, 213, 213);
      border-right: dashed 1px rgb(213, 213, 213);
    }
    &.resources {
      left: 640px;
      width: 260px;

      h3 {
        border-radius: 0 10px 10px 0;
      }
    }
  }

  #api-tree {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 3;
  }
}

.node {
  circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
  }

  text {
    font-size: 12px;
  }
}

path.link {
  fill: none;
  stroke: rgb(224, 224, 224);
  stroke-width: 2px;
}