body {
  padding-top: 20px;
  padding-bottom: 40px;
  background: url('/images/white_texture.png');
}
.masthead div.logo {
  width: 186px;
  height: 60px;
  background: url('/images/logo.png') no-repeat;
}
.masthead p.intro {
  margin: 5px 10px;
  font-style: italic;
  color: gray;
}
h3.surf {
  color: #686868;
  float: left;
  margin-top: 0;
}
p.moreinfo {
  float: right;
  margin-top: 15px;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}
.container-narrow > hr {
  margin: 30px 0;
}
.container-narrow > hr.no-topmargin {
  margin-top: 0;
}
.container-narrow > hr.no-botmargin {
  margin-bottom: 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/*
 * SPLASH
 */
.splash {
  width: 900px;
  height: 500px;
  margin: 50px auto;
  position: relative;
}
.splash .object {
  position: absolute;
  width: 340px;
  height: 250px;
}
.splash .object.ready {
  background: url('/images/objects.png') no-repeat;
}
.splash .object.cloudBA {
  top: -30px;
  left: -30px;
  background-position: -340px 0;
  z-index: 2;
}
.splash .object.machine,
.splash .object.machine-cover {
  bottom: 30px;
  left: 300px;
  background-position: 0 0;
  z-index: 3;
}
.splash .object.machine-cover {
  z-index: 10;
  background: none;
  border: none;
}
.splash .object.cloudAPI {
  top: -30px;
  right: -30px;
  background-position: -680px 0;
  z-index: 5;
}
.splash #door,
.splash #sucker,
.splash #bazooka {
  position: absolute;
}
.splash #door {
  bottom: 69px;
  left: 346px;
  z-index: 5;
}
.splash #sucker {
  bottom: 70px;
  left: 180px;
  z-index: 1;
}
.splash #bazooka {
  bottom: 142px;
  left: 560px;
  z-index: 4;
}
.splash.ready {
  background: url('/images/bg.png') no-repeat;
  background-position: 0 30px;
}
.api-tree-holder {
  position: relative;
  overflow: hidden;
  height: 1250px;
  width: 100%;
}
.api-tree-holder .col {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 1250px;
}
.api-tree-holder .col h3 {
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin: 0;
  color: #555555;
  background-color: rgba(0, 0, 0, 0.1);
}
.api-tree-holder .col.categories {
  left: 140px;
  width: 260px;
}
.api-tree-holder .col.categories h3 {
  border-radius: 10px 0 0 10px;
}
.api-tree-holder .col.groups {
  left: 400px;
  width: 238px;
  border-left: dashed 1px #d5d5d5;
  border-right: dashed 1px #d5d5d5;
}
.api-tree-holder .col.resources {
  left: 640px;
  width: 260px;
}
.api-tree-holder .col.resources h3 {
  border-radius: 0 10px 10px 0;
}
.api-tree-holder #api-tree {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 3;
}
.node {
  cursor: pointer;
}
.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}
.node text {
  font-size: 12px;
}
path.link {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 2px;
}
.footer p.copyright {
  float: right;
}
.footer p.copyright span.copy {
  float: left;
}
.footer p.copyright span.contactme {
  float: right;
}
.footer p.copyright span.contactme span {
  float: left;
}
