<script id="groupCombo-tmpl" type="text/x-handlebars-template">
  <select id="group">
    {{#items}}
      <option value="{{_id}}" data-canonical="{{canonical}}">{{name}}</option>
    {{/items}}
  </select>
  <a href="#group-modal" role="button" class="btn" data-toggle="modal">Manage</a>
</script>

<script id="groupList-tmpl" type="text/x-handlebars-template">
  {{#items}}
    <tr id="{{_id}}">
      <td>{{name}}</td>
      <td>{{canonical}}</td>
      <td>{{category}}</td>
    </tr>
  {{/items}}
</script>

<script id="groupEdit-tmpl" type="text/x-handlebars-template">
  <form class="form-horizontal">
    <input id="groupId" type="hidden" value="{{_id}}">

    <div class="control-group">
      <span class="control-label" for="name-group">Name</span>
      <div class="controls">
        <input id="name-group" type="text" value="{{name}}" placeholder="Name">
      </div>
    </div>

    <div class="control-group">
      <span class="control-label" for="canonical-group">Canonical</span>
      <div class="controls">
        <input id="canonical-group" type="text" value="{{canonical}}" placeholder="Canonical">
      </div>
    </div>

    <div class="control-group">
      <span class="control-label" for="description-group">Description</span>
      <div class="controls">
        <textarea id="description-group" class="input-xlarge" rows="2">{{description}}</textarea>
      </div>
    </div>

    <div class="control-group">
      <span class="control-label" for="category-combo">Category</span>
      <div id="category-combo" class="controls"></div>
    </div>

    <div class="control-group" style="margin-top: 10px;">
      <button id="save-group" type="button" class="btn btn-primary">Save</button>
      <button id="cancel-group" type="button" class="btn">Cancel</button>
    </div>
  </form>
</script>
