<script id="search-tmpl" type="text/x-handlebars-template">
	<form class="form-search">
	  <div class="input-prepend">
	    <span class="add-on">Search</span>
	    <input type="text" class="span4">
	  </div>
	</form>
</script>

<script id="jobList-tmpl" type="text/x-handlebars-template">
	{{#items}}
		<tr id="{{_id}}" class="{{getStatus state}}">
			<td>{{name}}</td>
			<td>{{group}}</td>
			<td>{{cron}}</td>
			<td title="{{formatDate createdAt}}">{{timeAgo createdAt}}</td>
			<td title="{{formatDate lastRun}}">{{timeAgo lastRun}}</td>
		</tr>
	{{/items}}
</script>

<script id="jobEdit-tmpl" type="text/x-handlebars-template">
	<span id="access" class="accessURL"></span>
	<div class="row">
		<div class="span12">

			<div class="span6" style="margin-top: 15px;">
				<form class="form-horizontal border-right">
					<input id="jobId" type="hidden" {{#_id}}value="{{_id}}"{{/_id}}>

					<div class="control-group">
						<span class="control-label" for="name">Name</span>
						<div class="controls">
							<input id="name" type="text" placeholder="" value="{{name}}">
						</div>
					</div>

					<div class="control-group">
						<span class="control-label" for="group">Group</span>
						<div id="group-combo" class="controls"></div>
					</div>

					<div class="control-group">
						<span class="control-label" for="cron">Cron Expression</span>
						<div class="controls">
							<input id="cron" type="text" placeholder="* * * * * *" value="{{cron}}">
						</div>
					</div>

					<div class="control-group">
						<span class="control-label" for="parser">Parser</span>
						<div class="controls">
							<select id="parser" class="input-small">
								<option selected="true" value="csv">CSV</option>
							</select>
						</div>
					</div>

					<div class="control-group">
						<span class="control-label" for="url">URL to Fetch</span>
						<div class="controls">
							<textarea id="url" class="input-xlarge" placeholder="paste a url" rows="3">{{source.url}}</textarea>
						</div>
					</div>
				</form>
			</div>
			
			<div class="span6">
				<div class="row-fluid">
					<a id="get-preview" class="span3 offset5 btn btn-success">Get Fields</a>
					<a id="show-preview" href="#preview-modal" role="button" class="span2 offset2 btn" data-toggle="modal" style="display:none;">Preview</a>
				</div>
				<div id="fields" class="row-fluid"></div>
			</div>

		</div>
	</div>
	<div class="row-fluid button-set">
		<div class="span4 offset4">
			<input id="save" type="button" value="Save" class="span4 btn btn-primary">
			<input id="save-run" type="button" value="Save & Run" class="span4 btn btn-success">
			<input id="cancel" type="button" value="Cancel" class="span4 btn">
		</div>
	</div>
</script>

<script id="jobFields-tmpl" type="text/x-handlebars-template">
	{{#items}}
		<div class="row-fluid">
			<div id="{{name}}" class="input-prepend input-append">
			  <span class="span5 add-on">{{name}}</span>
			  <input class="span5" type="text" value="{{newName}}" placeholder="{{name}}">
			  <select class="span2">
			    <option value="string" select="true">String</option>
			    <option value="integer">Integer</option>
			    <option value="float">Float</option>
			    <option value="date">Date</option>
			  </select>
			</div>
		</div>
	{{/items}}
</script>