<script id="search-tmpl" type="text/x-handlebars-template">
	<form class="form-search">
	  <div class="input-prepend">
	    <button class="btn">Search</button>
	    <input type="text" class="search-query input-xlarge">
	  </div>
	</form>
</script>

<script id="jobList-tmpl" type="text/x-handlebars-template">
	{{#items}}
		<tr id="{{_id}}" class="{{currentStatus}}">
			<td>{{name}}</td>
			<td>{{group}}</td>
			<td>{{cron}}</td>
			<td title="{{formatDate createdAt}}">{{timeAgo createdAt}}</td>
			<td title="{{formatDate lastRun}}">{{timeAgo lastRun}}</td>
		</tr>
	{{/items}}
</script>

<script id="jobEdit-tmpl" type="text/x-handlebars-template">
	<span id="access" class="accessURL"></span>
	<form class="form-horizontal">
		<input id="jobId" type="hidden" {{#_id}}value="{{_id}}"{{/_id}}>

		<div class="control-group">
			<span class="control-label" for="name">Name</span>
			<div class="controls">
				<input id="name" type="text" placeholder="" value="{{name}}">
			</div>
		</div>

		<div class="control-group">
			<span class="control-label" for="group">Group</span>
			<div id="group-combo" class="controls"></div>
		</div>

		<div class="control-group">
			<span class="control-label" for="cron">Cron Expression</span>
			<div class="controls">
				<input id="cron" type="text" placeholder="* * * * * *" value="{{cron}}">
			</div>
		</div>

		<div class="control-group">
			<span class="control-label" for="parser">Parser</span>
			<div class="controls">
				<select id="parser" class="input-small">
					<option selected="true" value="csv">CSV</option>
				</select>
			</div>
		</div>

		<div class="control-group">
			<span class="control-label" for="url">URL to Fetch</span>
			<div class="controls">
				<textarea id="url" class="input-xlarge" placeholder="paste a url" rows="3">{{source.url}}</textarea>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input id="save" type="button" value="Save" class="btn btn-primary">
				<input id="save-run" type="button" value="Save & Run" class="btn btn-success">
				<input id="cancel" type="button" value="Cancel" class="btn">
			</div>
		</div>
	</form>

</script>

